# env.example
# Environment variables for Semestrr Project
# (c) 2024 batmen
# ----------------

# GLOBAL VARIABLES: variables that are used in all environments

## Project runtime env (valid: production, staging, development, cicd)
PROJECT_ENV=production

## Database configuration
DB_HOST=database
DB_PORT=3306
DB_USER=semestrr
DB_PASSWORD=semestrr
DB_DATABASE=semestrr

# DEVELOPMENT ONLY: variables below have no effect if PROJECT_ENV=production

## Docker runtime configuration. Replace with your UID and GID
DOCKER_UID=1000
DOCKER_GID=1000

